*::before,
*::after {
  box-sizing: border-box;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Montserrat" ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* min body height */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 5px 50px;
    row-gap: 15px;
    background-color: #f1f5f9;

    & .welcome-container p {
        font-size: 1.1rem;
        font-weight: 550;
    }

    & .welcome-container h2 {
        font-size: 1.4rem;
        font-weight: 650;
    }

    & .user-menu-container p {
        font-size: 1.1rem;
        font-weight: 650;
    }

    & .button-container button {
        font-weight: 600;
    }
}

aside {
    background-color: #1e293b;
    grid-row: 1 / 3;
    padding: 20px 20px 0px 30px;

    & h2 {
        font-weight: 800;
        font-size: 1.5rem;
        color: white;
    }

    & p {
        color: white;
        font-weight: 700;
        font-size: 1.1rem;
    }
}

main {
    background-color: #cbd5e1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 25px 0 25px;
    gap: 20px;

    h3.main-title {
        font-weight: 550;
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    .card h3 {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .card p {
        font-weight: 450;
        font-size: 0.95rem;
        padding-top: 3px;
    }

    .option h4 {
        font-weight: 550;
        font-size: 1.05rem;
    }

    .option p {
        font-size: 0.9rem;
        padding-top: 3px
    }

    .trending-row h6 {
        font-weight: 550;
        font-size: 0.95rem;
    }

    .trending-row p {
        font-size: 0.9rem;
    }
}


.searchbar-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
}

.user-menu-container {
    display: grid; 
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 15px;
}

.welcome-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.dashboard {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.navbar > div {
    padding-top: 50px;
}

.nav-primary-container,
.nav-extra-container {
    display: grid;
    gap: 15px;
}

.nav-primary-container > div,
.nav-extra-container > div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.main-projects-container {
    grid-row: 1 / 3;
}

.projects-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    display: grid;
    padding: 25px 25px;
    grid-template-rows: 1fr auto;
    gap: 10px;
    background-color: #f8fafc;
    border-left: 8px solid rgb(253, 120, 25);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-imgs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.announce-option-container {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    padding: 30px 25px;
    background-color: #f8fafc;
    border-left: 8px solid rgb(253, 120, 25);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.trending-rows-container {
    padding: 30px 25px;
    display: grid;
    gap: 30px;
    background-color: #f8fafc;
    border-left: 8px solid rgb(253, 120, 25);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.trending-row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: start;
    column-gap: 25px;

    img {
       grid-row: 1 / 3; 
    }
}

.searchbar-container > input {
    border: none;
    padding: 4px 10px;
    border-radius: 12px;
    background-color: #cbd5e1;
    font-size: 1.05rem;
    font-weight: 450;
}

.button-container > button {
    padding: 12px 30px;
    border: none;
    color: black;
    background-color: rgb(253, 120, 25);
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.button-container > button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}

.icon {
    font-family: "Anicons Color", sans-serif;
    font-size: 1.6rem;
    font-variation-settings: "TIME" 1;
    
}

.icon-hover-animate {
    transition: font-variation-settings 0.4s ease;
    font-size: 2rem;
 }

 .icon-hover-animate:hover {
    font-variation-settings: "TIME" 100;
 }

 .icon-click-animate {
    font-variation-settings: "TIME" 100;
    transition: font-variation-settings 0.4s ease;  
 }

.material-symbols-outlined {
   font-variation-settings:
   'FILL' 1,
   'wght' 700,
   'GRAD' 0,
   'opsz' 48;
   color: white;
 }

 .card-imgs .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: #324A5E;
  }

  .searchbar-container span {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    color: black;
  }

.dashboard span {
    font-size: 2.5rem;
}

img {
    border-radius: 100%
}

@media only screen and (max-width: 1178px) {
    main {
        grid-template-columns: 1fr;
    }   
}



